<% if @band_name.errors.any? %>
    <h3>The following errors prevented the band name from getting created</h3>
    <ul>
      <% @band_name.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
    </ul>
<% end %>

<%= form_for @band_name do |f| %>
    <p>
      <%= f.label :Band_Name %>: <%= f.text_field :title %> <%= f.submit %>
    </p>

<% end %>